h1{
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 0px;
    /* margin-bottom: 20px; */

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/photo-1685495856559-5d96a0e51acb.avif");
    padding: 10px 20px;
}
body{
    background-image: url("images/snow.avif");
    background-size:200% 200%;
    /* background-size: contain; */

    background-repeat: no-repeat;
    background-position: center;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.R{
    color: red;
}
#heading{

    text-align: center;
    color:rgba(0, 255, 255, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* background: #e80606; */

    
}
#result{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: yellow;
    min-height: 50px;
    margin-top: 10px;

}
button{
   
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: lightblue;
    transition: background-color 0.3s, color 0.3s;
    border: 5px solid blue;
    border-radius: 115px;

}
#btns{
    text-align: center;
    margin-bottom: 20px;
     

}
#score{
    display: inline-block;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 25px;

}
.scores{
    display: inline;
    margin: 0 15px;
    color: rgb(165, 209, 18);
}
.dark-mode {
  background-color: black;
  color: white;
}
